@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


body, h1, h2, nav {
    background-color: blue;
    color: yellow;
    margin: 20px;
    font-family: 'Rock Salt', cursive;
}