@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


body, header, h1, h2, nav {
    background-color: lightblue;
    color: yellow;
    margin: 20px;
    font-family: 'Rock Salt', cursive;
}

li {
    color: lightblue;
}

h3 {
    color: navy;
}

h2 {
    color: pink;
}